.background-img {
  background-image: url(./Margarita/margarita.svg);
  background-repeat: no-repeat;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}
/* New to ?  */
.linkInfo {
  margin: 10px 0 10px 0;
  text-align: center;
}

@media screen and (max-width: 414px) {
  .background-img {
    width: 90%;
    height: 90%;
  }
}
