<!-- <login-form></login-form> -->
<!-- <new-user-form></new-user-form> -->
<!-- <app-quiz></app-quiz> -->
<!-- <post-drink-form></post-drink-form> -->
<!-- <app-quiz></app-quiz> -->
<!-- BUILDING NAVIGATION ONLY-->
<!-- 
<section>
  <h1>Nav Bar</h1>

  <ul>
    Public side Links
    <li><a routerLink="/the-feed">The Feed</a></li>
    <li><a routerLink="/preferences">Preferences</a></li>
    <li><a routerLink="/profile">User Profile</a></li>
  </ul>

  <ul>
    User Side Links
    <li><a routerLink="/user-recipes">User Recipes</a></li>
    <li><a routerLink="/recipe-book">Recipe Book</a></li>
    <li><a routerLink="/quiz">Quiz</a></li>
  </ul>
  <br />
</section> -->
